.infographic{
    width: 1000px;
    height: 1400px;
    display:flex;
    flex-direction: column;
    padding: 10px;
    .contentcontainer{
        height: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(255, 255, 255);
        .middlecontainer{
            height: 70%;
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .leftchart{
                height: 100%;
                display:flex;
                flex-direction: column;
                justify-content: space-around;
            }
            .middlepic{
                max-width: 600; /* 最大宽度为父元素的100% */
                max-height: 500; /* 最大高度为父元素的100% */
             
                display: block; /* 移除底部的间隙 */
                margin: 0 auto; /* 可选：使图片居中显示 */
            }

            .rightchart{
                height:100%;
                display:flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
        .bottomcontainer{
            width:100%;
            height:41.5%;
            padding-top: 2%;
            display:flex;
            gap: 10px;
            flex-direction:row;
            justify-content: space-between;
    
        }
    }
    
}
