.seinfographic {
    width: 1000px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    font-family: 'AlibabaPuHuiTi';

    .seheader {
        width: 100%;
        height: 226px;
        display: flex;
        flex-direction: row;
        margin-left: 26px;
        margin-right: 12px;

        .seheaderbox {
            display: flex;
            flex-direction: row;

            .seheaderboxtitle {
                display: flex;
                flex-direction: column;

                .seheadertop {
                    width: 297px;
                    height: 16px;
                    flex-shrink: 0;
                    background: #1F1F1F;
                }

                .seheadertitle {
                    width: 258px;
                    height: 50px;
                    flex-shrink: 0;
                    color: #000;
                    font-family: AlibabaPuHuiTi;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .seheaderintro {
                    width: 297px;
                    height: 104px;
                    flex-shrink: 0;
                    background: rgba(0, 80, 255, 0.04);
                    margin-top: 12px;

                    >span {
                        display: inline-block;
                        color: #000;
                        font-family: AlibabaPuHuiTi;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin: 7px 10px;
                    }
                }
            }

            .seheaderdivider {
                width: 1px;
                height: 157px;
                background: #000;
                margin-top: 25px;
                margin-left: 21px;
                margin-right: 24px;
            }
        }

        .seheadernar {
            width: 632px;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            margin-top: 11px;
        }
    }

    .semiddle {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sebottom {
        width: 980px;
        height: 100%;
        display: flex;
        gap: 10px;
        /* flex-wrap: wrap; */
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
}