.seanimation {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 2vw; */
    font-family: 'AlibabaPuHuiTi';

    .seancontent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* margin-top: 2vw; */
        padding-left: 4vw;
        padding-right: 4vw;
        /* margin-bottom: 2vw; */
    }
}