/* infographic.less */
/* .bg-image {
    background-image: url("../../../../pics/image.jpg");

  } */

/* .inter1wrapper{
    background-image:url("../../../pics/interBackground.png");
    background-size: cover;
    background-position: center; 
    background-repeat: repeat 防止背景图片重复显示
} */